@{
    ViewBag.Title = "Student Home Page";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
    var studentName = ViewBag.StudentName;
    var projectDescription = ViewBag.ProjectDescription;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="padding-bottom: 10px; padding-top: 20px;">
            <h2 style="color: black; font-size: 25px;">Welcome, @studentName!</h2>
        </div>
        <div class="col-md-12" style="padding-bottom: 20px;">
            <p style="font-size: 18px;">@projectDescription</p>
        </div>
    </div>
    <div class="row text-center" style="border: thin solid #ddd; border-radius: 10px; overflow: hidden; padding: 20px;">
        <div class="col-md-4">
            <a href="@Url.Action("StudentPage", "Student")" style="text-decoration: none; color: inherit;">
                <i class="fas fa-file-medical fa-3x" style="color: #007bff;"></i>
                <h4 style="color: #007bff">Upload Medical Reports</h4>
                <p>Easily upload your medical reports to the system.</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("StudentPage", "Student")" style="text-decoration: none; color: inherit;">
                <i class="fas fa-stethoscope fa-3x" style="color: #007bff;"></i>
                <h4 style="color: #007bff">Track Health Status</h4>
                <p>Monitor the status of your submitted medical reports.</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("StudentCourseListPage", "Student")" style="text-decoration: none; color: inherit;">
                <i class="fas fa-book fa-3x" style="color: #007bff;"></i>
                <h4 style="color: #007bff">Course Information</h4>
                <p>Get information about your courses and instructors.</p>
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}
